.LandingPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonsandinput {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items along the cross axis */
  margin-bottom: 25px;
}

.logoimage {
  width: 400px;
  height: 400px;
}

.emailheader, .createpasswordheader, .confirmpasswordheader {
  font-size: 20px;
  margin-bottom: 3px;
  font-weight: bold;
}

.emailinput, .createpasswordinput, .confirmpasswordinput, .registerbutton {
  width: 550px;
  height: 50px;
  border-radius: 10px;
  font-size: 30px;
  margin-bottom: 25px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.createpasswordinput, .confirmpasswordinput {
  margin-left: -8px;
}

.button1, .button2 {
  height: 40px;
  margin-left: -50px;
  width: 40px;
  border-radius: 10px;
  background-color: transparent;
  border-color: transparent;
}

.button1:hover, .button2:hover {
  cursor: pointer;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.registerbutton {
  width: 560px;
  height: 60px;
  box-shadow: 3px 3px 3px rgba(213, 39, 39, 0.5);
  margin-top: 40px;
  background-color: white;
}

.registerbutton:hover {
  box-shadow: 3px 3px 3px rgba(213, 39, 39, 0.9);
  cursor: pointer;
}